{
  "presets": [
    [
      "babel-preset-env",
      {
        "targets": {
          "node": "8"
        },
        "loose": true
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread", "transform-es2015-arrow-functions"]
}
